# **Extract**

We decided to work with 20% of the data because of the dataset size, since we did not have a powerful computer to process the whole dataset. At getting this percentage we got a representative sample of the clients total, and it is important to highlight that we worked hard to get the sample with no bias, this is why to obtain our clients we used a random function, whose only condition was to conserve the data integrity, which means, we conserve the percentage of clients that paid and the percentage of clients that did not pay in our sample to get a better train for our model.

In [1]:
# Importing the necessary libraries for the data analysis and transformations
import pandas as pd
import numpy as np
from dask import dataframe as dd
import matplotlib.pyplot as plt
from sklearn import preprocessing, decomposition, impute
from sklearn.experimental import enable_iterative_imputer

#### ***Extracting a 20% american express clients sample***

In [2]:
# Storing the original AMEX clients data (train) in a DataFrame
train_data = pd.read_csv('../data _files/train_data.csv')

In [ ]:
# Storing the results of the train clients in a DataFrame
amex_clients_results = pd.read_csv("../data _files/train_labels.csv")

In [ ]:
# Storing the results (target = 1 or 2) of the sample's clients. We shuffle the results to avoid the recollection of determined data
amex_clients_0 = amex_clients_results[ amex_clients_results["target"] == 0].sample(frac = 1).reset_index(drop = True)
amex_clients_1 = amex_clients_results[ amex_clients_results["target"] == 1].sample(frac = 1).reset_index(drop = True)
amex_clients_0

                                              customer_ID  target
0       08de336180a9dd9ac8cfecdc7d5cac6f01904c4927167a...       0
1       c0cc82724897bc50515e94e2d39fd546af3cc076d881a1...       0
2       9d4345ffe413a5a2eb2c0b19788c7d23c73de4085a3edf...       0
3       ecfbe4c3a55a370646981b7c94808bc38ee028c192de7b...       0
4       faaca78da7e0766781afd966c30383044f765935a653c5...       0
...                                                   ...     ...
340080  2348ee34ff83ae7e882c9cb348665e0d6edff608a75211...       0
340081  d0ded21456e902b4d3e10e5631e70662e24702d089d363...       0
340082  b3b41e532e55b491b418b7dc24fb0d47773b02234874de...       0
340083  a6ff0cd63383af88298ecf3d1fa3d20ad88a3ac979fa5e...       0
340084  9529753d572dd3b8e69c064a75ba08506acc5e3f4f9da6...       0

[340085 rows x 2 columns]

In [ ]:
# Function that calculates number of rows given a percentage
def get_df_percent(n_clients, percent):
    return round(n_clients * percent)

percent_amex_clients_0 = get_df_percent(amex_clients_0["target"].count(), 0.2)
percent_amex_clients_1 = get_df_percent(amex_clients_1["target"].count(), 0.2)
percent_amex_clients_1

23766

In [ ]:
# Keeping the 20% of the clients result
amex_clients_0 = amex_clients_0.head(percent_amex_clients_0)
amex_clients_1 = amex_clients_1.head(percent_amex_clients_1)

In [ ]:
# Concatenating both DFs to do the analysis 
amex_clients = pd.concat([amex_clients_1, amex_clients_0], ignore_index = True)
amex_clients

                                             customer_ID  target
0      8848ea469fbe893a23fc42058e54107754c021c981e795...       1
1      9790f5ca6be4aa4802f8d837d60675e8fdd4de906254a0...       1
2      f3db4fc89abc8e8d59b0d3ef745be808cb70d167252753...       1
3      abd1c241939f3dd8cf1631db407388ad16c9d99993987a...       1
4      53d181bde2da62aebddb59c4f9afb3520fac874e6c11a7...       1
...                                                  ...     ...
91778  8ce12a4bd1394252e5f9d60ae0ca86c8241571ccc91c82...       0
91779  773302ae250270ab6e756621f0c6b4c1e0bea6cd8c3c6f...       0
91780  60478e3d025e2255395a0430602a3ef428454cf28a9746...       0
91781  88823bba8f995238d4f2c0b29922f7963743a8aaaa9a3c...       0
91782  6d0e6b89799a18495cdee27d5cbf7b0df2c95c98ed9ed1...       0

[91783 rows x 2 columns]

#### ***Merging the 20% sample with its correspondent data***

In [ ]:
# We merge the DFs extrected above and merged it with its correspondent data
sample_train_data = pd.merge(amex_clients, train_data)

In [ ]:
sample_train_data

,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,8848ea469fbe893a23fc42058e54107754c021c981e795...,1,2017-08-28,0.511769,0.009754,0.181931,0.810619,0.002510,0.177497,0.000863,...,NaN,NaN,NaN,0.000556,0.001755,0.006413,NaN,0.003944,0.007537,0.008857
1,8848ea469fbe893a23fc42058e54107754c021c981e795...,1,2017-09-13,0.507765,0.002712,0.199071,0.819636,0.002847,0.178085,0.003505,...,NaN,NaN,NaN,0.000336,0.004805,0.006488,NaN,0.000357,0.000322,0.003674
2,8848ea469fbe893a23fc42058e54107754c021c981e795...,1,2017-10-15,0.424877,0.000059,0.270903,0.095687,0.004192,0.176206,0.006209,...,NaN,NaN,NaN,0.008027,0.004165,0.002939,NaN,0.003505,0.003345,0.004392
3,8848ea469fbe893a23fc42058e54107754c021c981e795...,1,2017-11-15,0.411393,0.030944,0.346549,0.012620,0.504857,0.291149,0.006342,...,NaN,NaN,NaN,0.007532,0.005044,0.001616,NaN,0.007198,0.008839,0.002233
4,8848ea469fbe893a23fc42058e54107754c021c981e795...,1,2017-12-20,0.336075,0.155478,0.437780,0.013049,0.509996,0.328666,0.009227,...,NaN,NaN,NaN,0.003915,0.005769,0.009580,NaN,0.004344,0.004019,0.006935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107256,6d0e6b89799a18495cdee27d5cbf7b0df2c95c98ed9ed1...,0,2017-11-07,0.711997,0.326242,0.041635,0.094307,0.005353,-0.004632,0.009840,...,NaN,NaN,NaN,0.002004,0.007816,0.007273,NaN,0.008514,0.001537,0.005309
1107257,6d0e6b89799a18495cdee27d5cbf7b0df2c95c98ed9ed1...,0,2017-12-29,0.722408,0.037323,0.038988,0.171414,0.000888,0.158201,0.002465,...,NaN,NaN,NaN,0.003526,0.000525,0.004898,NaN,0.007591,0.007101,0.007367
1107258,6d0e6b89799a18495cdee27d5cbf7b0df2c95c98ed9ed1...,0,2018-01-14,0.687479,0.505748,0.052194,0.173209,0.001695,0.167581,0.009841,...,NaN,NaN,NaN,0.001385,0.006485,0.009664,NaN,0.006995,0.008961,0.005474
1107259,6d0e6b89799a18495cdee27d5cbf7b0df2c95c98ed9ed1...,0,2018-02-26,0.715083,0.914450,0.062841,0.006116,0.007222,0.171454,0.342117,...,NaN,NaN,NaN,0.004711,0.008107,0.005192,NaN,0.002635,0.003902,0.003772
1107260,6d0e6b89799a18495cdee27d5cbf7b0df2c95c98ed9ed1...,0,2018-03-13,0.731762,0.005276,0.063895,0.003894,0.003646,0.163651,0.339273,...,NaN,NaN,NaN,0.003195,0.001059,0.005239,NaN,0.003935,0.006440,0.007151

In [ ]:
# Exporting the DF 
sample_train_data.to_csv('../data _files/train_labels_clients.csv', index=False)